# compilation output
shsl
test
a.out

# precompiled headers
*.pch

# emacs shit
TAGS

# trial and error/wip files
tryshit.c

# I'm assuming this is gdb shit I don't know where these files came from
*.h.gch
vgcore.*

# gcov files
# initial list of extensions taken from wikipedia
# https://en.wikipedia.org/wiki/Gcov#Description
*.bb
*.bbg
*.da
*.gcov

# additional shit that popped up while compiling and running with gcov
*.gcno
*.gcda
